version: '3.0'
services:
  magento-test:
    image: eu.gcr.io/ems-plugins/magento-sampledata:2.2.3
    ports:
      - "8889:80"
    links:
      - db
    env_file:
      - .env
    environment:
      - MYSQL_DATABASE=magento_test
      - MAGENTO_URL=http://magento-test.local
    volumes:
      - ./Magento/composer.json:/app/composer.json
      - ./..:/app/vendor/emartech/emarsys-magento2-extension
      - ./setup:/opt/emartech/setup
      - ./php.ini:/opt/docker/etc/php/php.ini
    command: ["/opt/emartech/wait-for-it.sh", "db:3306", "--timeout=30", "--strict", "--", "/opt/emartech/init"]
  magento-dev:
    image: eu.gcr.io/ems-plugins/magento-sampledata:2.2.3
    ports:
      - "8888:80"
    links:
      - db
    env_file:
      - .env
    environment:
      - MYSQL_DATABASE=magento_dev
      - MAGENTO_URL=http://magento-dev.local:8888
    volumes:
      - ./Magento/composer.json:/app/composer.json
      - ./..:/app/vendor/emartech/emarsys-magento2-extension
      - ./setup:/opt/emartech/setup
      - ./php.ini:/opt/docker/etc/php/php.ini
    command: ["/opt/emartech/wait-for-it.sh", "db:3306", "--timeout=30", "--strict", "--", "/opt/emartech/init"]
  db:
    image: healthcheck/percona
    restart: always
    volumes:
      - magento-db:/var/lib/mysql
    ports:
      - "13306:3306"
    env_file:
      - .env
  node:
    container_name: mage_node
    build:
      context: .
      dockerfile: ./Docker/Dockerfile-node
      args:
        - NPM_TOKEN=$NPM_TOKEN
    volumes:
      - ./test:/test
    ipc: host
    env_file:
      - .env
    environment:
      - MYSQL_DATABASE=magento_test
      - MAGENTO_URL=magento-test.local
    links:
      - magento-test:magento-test.local
      - db
volumes:
  magento-db:
