<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Emartech\Emarsys\Api\SettingsApiInterface" type="Emartech\Emarsys\Model\Api\SettingsApi" />
    <preference for="Emartech\Emarsys\Api\EventsApiInterface" type="Emartech\Emarsys\Model\Api\EventsApi" />
    <preference for="Emartech\Emarsys\Api\ProductsApiInterface" type="Emartech\Emarsys\Model\Api\ProductsApi" />
    <type name="Magento\Customer\CustomerData\Customer">
        <plugin name="emartech_customerplugin" type="Emartech\Emarsys\CustomerData\Customer" />
    </type>
    <type name="Magento\Email\Model\Template">
        <plugin name="emarsys_template_plugin" type="\Emartech\Emarsys\Plugin\Email"/>
    </type>
</config>