<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_save_commit_after">
        <observer name="customerAccountObserver" instance="Emartech\Emarsys\Observers\CustomerAccountObserver" />
    </event>
    <event name="sales_order_save_after">
        <observer name="orderObserver" instance="Emartech\Emarsys\Observers\SalesOrderObserver" />
    </event>
</config>