<?xml version="1.0"?>
<!--
/**
 * @category   Emartech_Emarsys
 * @package    Emartech_Emarsys
 * @copyright  Copyright (c) 2018 Emarsys. (http://www.emarsys.net/)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="emarsys" translate="label" sortOrder="500">
            <label>Emarsys</label>
        </tab>
        <section id="emartech" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Connect</label>
            <tab>emarsys</tab>
            <resource>Emartech_Emarsys::emarsys</resource>
            <group id="emarsys" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Connect token</label>
                <field id="connecttoken" translate="label" type="textarea" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <comment>Please copy this token and paste in at your Emarsys Integration page.</comment>
                    <frontend_model>Emartech\Emarsys\Block\System\Config\Form\Field\Disabled</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
